@media (max-width: 768px) {
	.col-12 .row {
		margin-bottom: 0;
	}

	.card {
		margin-bottom: 30px;
	}
}

@media (max-width: 992px) {
	.col-12 .row {
		margin-bottom: 0;
	}

	.card {
		margin-bottom: 30px;
	}
}
