@import '../../styles/colors';

.parallax {
	background-image: url("../../assets/images/parallax.png");
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax button {
	width: 750px;
	height: 75px;
	background-color: $color-secondary;
}

.parallax .layout {
	height: 300px;
}

button p {
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
}
