@import '../../styles/colors';

.customers .card {
	border: 0;
	background-color: $background-secondary;
}

.customers .imageCard {
	height: 300px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 15px;
}

.customers .imageCard img {
	width: 75%;
	height: auto;
}

.customers .card-body p {
	color: $color-primary;
	font-weight: bold;
	padding-bottom: 15px;
}
