@import '../../styles/colors';

.contact .col-12 .row {
	margin-bottom: 30px;
}

.contact .card {
	border: 0;
	margin-bottom: 30px;
	background-color: $background-secondary;
}

.card-body {
	margin: auto;
}

.card-body p {
	margin: 0;
}

@media (max-width: 768px) {
	.contact .col-12 .row {
		margin-bottom: 0;
	}

	.contact .col-12:last-child {
		margin-bottom: 30px;
	}
}
