@import '../../styles/colors';

.bg-carousel, .bg-carousel img, .bg-carousel-img {
	width: 100%;
	height: 1105px;
}

.bg-carousel button {
	height: 1105px;
}

.bg-carousel-img {
	background-color: rgba(0, 0, 0, 0.50);
	position: absolute;
	top: 0;
	left: 0;
}

.card-carousel {
	margin-bottom: 300px;
}

.card-carousel h5 {
	font-size: 68px;
	font-weight: bold;
}

.card-carousel p {
	font-size: 55px;
}

.card-carousel button {
	width: 750px;
	height: 75px;
	background-color: $color-primary;
	margin-top: 50px;
}

.card-carousel button:hover {
	background-color: darkblue;
}

.card-carousel button p {
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
}
